@font-face {
  font-family: 'icomoon';
  src:  
    url('icomoon.woff?10si43') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-keyboard_arrow_down:before {
  content: "\e313";
}

input::selection {
  color: black;
  background: white;
}
