@import "fonts/icomoon/style.css";
@import "styles/bootstrap.min.css";
@import "styles/style.css";
@import "styles/animations.css";

.large-font{
    font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

img .img-sized {
  width: 900px;
  height: 874px;
}


